.main-screen
    display flex
    flex-direction row
    align-items center
    padding-left 0
    padding-right 0
    .section__content
        position absolute
        top 0
        left 42px
        width 50%
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items flex-start
        z-index 1
    .btn
        background rgb(145,210,201)
        margin-top 35px
        &:hover
            background-color rgb(254,183,105)
            box-shadow 0px 15px 20px -10px rgb(254,183,201)
.decor-girlWithWings
    position relative
    right -205px
    display flex
    flex-direction row
    align-items flex-end
    animation bounce 2s infinite ease-in-out
.section-wrapper
    width 100%
    padding-left 42px
    padding-right 42px
.btn
    padding 20px 50px
    border none
    border-radius 22px
    color rgb(255,255,255)
    cursor pointer
    box-shadow 0px 15px 20px -10px rgb(145,210,201)
    transition ease-out 0.3s
.main_title
    font-size 40px
    font-style italic
    color rgb(249,125,113)
    &-description
        width 70%
        font-size 16px
        margin-top 30px
.decor_text
    color rgb(145,210,201)
.section_title
    text-align center
    font-size 34px
    color rgb(249,125,113)
/* tabs style */
.tabs
    margin-top 45px
    &-wrapper
        padding-bottom 50px
        padding-top 50px
        background-color rgb(255,255,255)
        .section__content
            display flex
            flex-direction column
        .btn
            background rgb(145,210,201)
            align-self center
            margin-top 35px
            &:hover
                background-color rgb(254,183,105)
                color rgb(255,255,255)
                box-shadow 0px 15px 20px -10px rgb(254,183,105)
    &_content
        position relative
        margin-top 50px
        height 310px
    input
        display none
        &:checked + label
            color rgb(255,255,255)
            background rgb(254,183,104)
    label.btn
        display inline-block
        border 2px solid rgb(254,183,104)
        color rgb(254,183,104)
        cursor pointer
        background rgb(255,255,255)
        margin-top 0
        box-shadow none
        &:hover
            box-shadow none
        &:not(:nth-child(2))
            margin-left 50px
    &__item
        position absolute
        top 0
        left 0
        height 310px
        width 940px
        background rgb(255,255,255)
        margin 0 -10px
        z-index 0
        opacity 0
#tab_1:checked ~ .tabs_content #text_1,
#tab_2:checked ~ .tabs_content #text_2,
#tab_3:checked ~ .tabs_content #text_3,
#tab_4:checked ~ .tabs_content #text_4
    z-index 1
    opacity 1
/* END tabs style */
/* form style */
.form
    display flex
    flex-direction column
    align-items center
    margin-top 45px
    &-wrapper
        .section__content
            position absolute
            top 50%
            right 100px
            transform translate(0, -50%)
            width 460px
            padding 50px 65px
            border-radius 10px
            background-color rgba(175,216,207,.7)
        .btn
            margin-top 30px
            background-color rgb(254,183,104)
            color rgb(0,0,0)
            width auto
            font-size 14px
            box-shadow 0px 15px 20px -10px rgb(254,183,104)
            transition width 1s
            &:hover
                width 100%
    &_input
        border none
        width 100%
        border-radius 22px
        padding 15px 20px 20px
        font-size 16px
        &:not(:first-child)
            margin-top 25px
/* END form style */
/* gallery style*/
.gallery-wrapper
    background rgb(255,255,255)
    padding-bottom 40px 
    padding-top 40px
    .section__content
        display flex
        flex-direction column
    .btn
        background-color rgb(145,210,201)
        align-self center
        &:hover
            background-color rgb(254,183,105)
            box-shadow 0px 15px 20px -10px rgb(254,210,201)
    .slider-wrapper
        position relative
        margin-top 60px
        margin-bottom 10px
/* END gallery style */
/* news style */
.news
    display flex
    flex-direction row
    justify-content space-between
    padding-top 40px
    padding-bottom 40px
    &-wrapper
        padding-top 50px
        padding-bottom 40px
        .btn
            align-self center
            background-color rgb(145,210,201)
            &:hover
                background-color rgb(254,183,105)
                box-shadow 0px 15px 20px -10px rgb(254,183,105)
        .section__content
            display flex
            flex-direction column
    &__item
        width 300px
        background-color rgb(255,255,255)
        border-radius 10px
        overflow hidden
    img
        width 100%
        height 215px
    &_date, &_views
        display flex
        align-items center
    &__info
        display flex
        flex-direction row
        justify-content space-between
        opacity .6
        padding 15px 15px
        font-size 12px
        svg
            margin-right 10px
    &_title
        font-size 16px
        font-weight bold
    &_description
        display inline-block
        margin-top 25px
        font-size 14px
        color rgba(0,0,0,.6)
        line-height 22px
    &__text
        padding 15px 15px
    &_link
        display inline-block
        margin-top 10px
        margin-left 15px
        margin-bottom 15px
        color rgb(145,210,201)
        svg
            margin-left 12px
/* END news style */
/*about style*/
.about
    display flex
    flex-direction row
    align-items center
    padding-top 40px
    &-wrapper
        padding-top 60px
        padding-bottom 65px
        background-color rgb(255,255,255)
    &__item
        display flex
        flex-direction column
    &_text
        line-height 22px
        font-size 16px
        &:not(:first-child)
            margin-top 35px
    .news_link
        margin 40px 0 0
/* END about style*/
/* decor block style*/
.decor-wrapper
    width 100%
    img
        width 100%
/* END decor block style */
/* map style */
.map
    &-wrapper
        padding-left 0
        padding-right 0
    &_description
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        background-color rgb(145,210,201)
        height 290px
        width 290px
        border-radius 50%
        display flex
        flex-direction column
        align-items center
        justify-content space-between
        padding-top 45px
        padding-bottom 50px
        color rgb(255,255,255)
    &_text
        display flex
        flex-direction column
        margin-top 15px
        font-size 14px
        a
            color rgb(255,255,255)
            &:not(:first-child)
                margin-top 15px
            &:hover
                font-weight bold
    &_title
        font-weight bold
.field
    display flex
    flex-direction column
    align-items center
    font-size 16px
    &:not(:first-child)
        margin-top 25px
#mapDiv
    transform translate(100px,0)
/* EDN map style */
/* slider style */
.slider
    &__nav
        position absolute
        top 125px
        left 0
        display flex
        flex-direction row
        justify-content space-between
        width 100%
        cursor pointer
        .arrowPrev, .arrowPrev1, .arrowPrev2, .arrowPrev3, .arrowPrev4
            margin-left -34px
            transform translate(0, -50%)
        .arrowNext, .arrowNext1, .arrowNext2, .arrowNext3, .arrowNext4
            margin-right -38px
            transform translate(0, -50%)
    &__item
        position relative
        &:focus
            outline none
    &__content
        position absolute
        top 0
        left 0
        padding 0 10px
        width 100%
        height 100%
        display flex
        justify-content center
        align-items flex-end
        &_text
            font-size 24px
            color rgb(255,255,255)
            margin-bottom 25px
.pagination
    display flex !important
    flex-direction row
    justify-content center
    li:not(:first-child)
        margin-left 10px
    button
        border none
        background rgb(145,210,201)
        border-radius 50%
        width 8px
        height 8px
        padding 0
        font-size 0
        cursor pointer
.slick-slide
    padding 0 10px
    img
        width 100%
.slick-active
    button
        width 10px
        height 10px

/* END slider style */