.footer-wrapper
    footer.footer
        .footer__row
            .footer__column
                a(href="#")
                    img(src="./static/img/general/logo_footer.png", alt="main logo").footer_logo
            .footer__column
                ul.menu
                    li
                        a(href="#").menu_link Главная
                    li
                        a(href="#").menu_link О нас
                    li
                        a(href="#").menu_link Новости
                    li
                        a(href="#").menu_link Контакты
            .footer__column
                ul.menu
                    li
                        a(href="#").menu_link Преподаватели
                    li
                        a(href="#").menu_link Наши курсы
                    li
                        a(href="#").menu_link Цены и скидки
                    li
                        a(href="#").menu_link Расписание
                    li
                        a(href="#").menu_link Галерея
            .footer__column
                address.addres
                    .addres_row
                        span Адрес: г. Минск ул. Шевченко д.45
                    .addres_row
                        span Телефоны:
                        .addres_column
                            a(href="tel:+375293632333").contacts_link +375(29) 363-23-33 
                            a(href="tel:+375442684357").contacts_link +375(44) 268-43-57
                    .addres_row
                        span Почта:
                        a(href="mailto:happykids@gmail.com").contacts_link happykids@gmail.com 
                    .addres_row
                        span Дизайн-макет сайта: Хроменкова А.Д.
        .footer__column
            .footer__item
                .social-icons
                    .social-icons__item
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22" viewBox="0 0 22 22">
                            <image id="instagram" width="22" height="22" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABoUlEQVQ4jbXVPWgUURTF8d9uYiMY0DaNaQQR4weIlWITEAQLwQgi2iiIvYqNgpUYEQvTGMGAjYpI2rTBQtBoIYg2fqGNhYHEwsJk5cY7EMed3c1uPPCY4cL9vzfnnpmpNb69X48LOI0B3amGBuZxF9f7cR5XugSWtSFZjTjxFwz2AHuNl9iJHVn7Gife2AP0FY7iF9bhccI31bHYISQ8XCrVnuAzxvEBM1lfrHcAnMYxDOc6ksDQcWzO6xAOFIdoB47BHsInHMz77/n4Z7EVD3ARD7G9aOxvAb2EG5jAqfSw0COcSG8jXrvLzVXg8Oombme+yxpNz8OCw7n+UsRtPvO3UmfwLKfe6qn2RwIwVaovVHn8FrvaQEN78a5ZsqrAtSbRaqalZNQ6Bcd0X+BnG/BTbGvGqQKfxEfcagG9g9mcxz+q8jC8u5r5rGdz8er/wH2cy5yPrAYsP6Xh4WVMYk9uMpsDi02vVTVXxW2lnuMe3mR2t6RV+1r0LHQC7kbLOe5bY2ioL8Bz/wE8F+D4yKy1JiIVY/nm9PIzLfTnZ8rYb5rIX9hRJUNCAAAAAElFTkSuQmCC"/>
                        </svg>
                    .social-icons__item
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22" viewBox="0 0 22 22">
                            <image id="facebook" width="22" height="22" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABUElEQVQ4jbXUPU8UURTG8d/wjgpCQkRibWWsgIKOzoaKhopQE7WC7yINDaVfwAjNFnZEGgoqtNgNBYFCIUBcQHKTu8nNZFZndpcnmczJefnPzTlnbnZ7cvwZ7/RWXwP4GiM9Bt/0odljaFBzoMPCOnbwM5wO41jFQiuhE/AhVnCU8w+k4L6K0AtsFkCDpvNfqaJT7Cb5YZveYxiz3YDPEzv09QOWihKrtuJZYg/iZbvEsicOJz3DXuK7wjdM4Clm0oLwg/zG2D+gIb6G72jgbxIbwitMYgvz0X9RphWNOLB6Dhr0J+7yAX6kgTLgF3j+n5xRvK4Knoq9rWE9F/uI/fi8TQNlh/cmvp/gU7TD0JYxV1RQdd2yxO7HXbvEquAUFAZ53ytwaT0qOCuR11LZ3Kyb4QWF+6JQYd02sFjwV+WBYVBfEt8vbMc7+jKpz1B7AE2+QAL6Q8qeAAAAAElFTkSuQmCC"/>
                        </svg>
                    .social-icons__item
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="22" viewBox="0 0 22 22">
                            <image id="vk" width="22" height="22" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABeUlEQVQ4jdXVv0tWcRQG8I+WGpHSKkRD75Jig4tuLjX1a3EKwuovkFYDCZ1fjQbBP6DeoIaoMZob1EmcRAzB5lBJEHlf+cq58OVy36br4LPcL+ec+9xznvPce3tO/+ys4pl60UrEh7hRM/FRLzo1kyZ0ei+A9ByXj/hqdv6NTxEbxcOIf8dPHOMmXmIkcvv4iiEc4Alul4mTOxbxLwoT4RRu4X225AEsxHkZzZD0CiYL4lyKu3gV54O46QjjeFAx7TpW4tzGNMaKZE7ch+eZp7/hc0myfjRCloW4JtzBG1yr0jhhAjPRSepiLnTdj3yS4xe2QqpCmmbebUJ689LYg1lsE4+xl3V5Gg8qpmxn9ffxI3FlscMqu93D26zwpETULtVv4EuZpJuP0xLnu+QapY/WX7zAh5jsv8Si63eZZwskko94ncWOY/FrRaC8vDJm8TQWtYvreBQ1SxjGdsgl/0pWLa8OVC6vFlxO4tzYdaEnuSJZp96fKa0zbXVRwCAoHesAAAAASUVORK5CYII="/>
                        </svg>
            .footer__item
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                    <image id="copyright" width="20" height="20" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAB4ElEQVQ4ja2VP2uUQRDGf3ldAieihQRkD0XcL6AhaCwsghYqErCxSadYiKCNRfwEWghiY6FgE66OCIpdVAT/FMF8gA1BySgcFoLoIVPI6Bwse++ByE23O8/z7MzOzO4ULaaSdwFLwHlgFphxVB9YB1aBXojpe80eEVTJl4FbvnwCrAHbvu4CC8Cir2+GmB62BWVC0yp5RSUPVPKySu60Av9iO44ZOGe6DWSOvkqeGyfUwplzzspImn7aiJhK7qrk0yr5jEreN0Z04FfFlBdgC7gTYrpdAPcD94FzwAAIwA7gMXA1xPS5wC4DN4CDjVfT7F4BOAC8BfYCx4GdgN3pKcB876toh9wli/A5ICGmi4XgU2A3cDLE9KtK0cRfAZshpgvF/iMgNt5na1V0Zy2FWswsxPQDuAR8rFymMRu8abcLx2HgW4jpXS1WiG4AG9W2acw040j/a42PU7fgfwD2qORj4zRV8hGVfLfaNo1+47O5UKRjd/PM2qhtArwoD6ogcI31xgd9sRq1K8Ah4IVKnlfJ1g1BJZ8AXgLWMteKQzo+36sm2PP961WU88BX4A1glf3pYp+AoyGmL0UAQ25veMLERq90TORxKNvGmtWm5vW/Pl+GdY5x/9jEH9jJfgHAby4TKEkuglSTAAAAAElFTkSuQmCC"/>
                </svg>
                span г. Минск 08.06.2020г.