.header-wrapper
    header.header
        .header__logo
            a(href="#")
                img(src="./static/img/general/logo.png", alt="main logo").header_logo
        .header__item
            .header__row
                span.header_text г. Минск ул, Шевченко, 45
                a(href="tel:+375293632333").header_text +375(29) 363-23-33 
                a(href="tel:+375442684357").header_text +375(44) 268-43-57
                a(href="mailto:happykids@gmail.com").header_text happykids@gmail.com 
            .header__row
                ul.menu
                    li.menu__item.active
                        a(href="#").menu_link Главная
                    li.menu__item
                        a(href="#").menu_link О нас
                    li.menu__item
                        a(href="#").menu_link Новости
                    li.menu__item
                        a(href="#").menu_link Контакты
                .search-wrapper
                    input(id="search" type="search", name="mainSearch" placeholder="Поиск").search
                    .search_icon-wrapper
                        <svg class="seacrh_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                            <image id="Vector" width="20" height="20" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABoklEQVQ4jZ2UvUuWURTAf6lvFs3VJIn04ddQGFFLjQ22NeiYe4Gr0NRfEYh7Qy5GU1JSNAQmNTQEShFRQWAhfVnaL+7LuXB7eR59fQ8cnnPPx49zn3vu3adSIUPABHAJGAAOAG+A58Bd4FFVUVMSsNAe9ba7ywN1sKW2qWWHh4EnwKlYvwPuASvAd2AYGAfGIv4XuAwsVnXYpa4Vfc2o3VUdqFfVr0Xuf51mY7ZIuFIDKrVPXY/8tVbgsQJ2sw1Y1nNF3WQJvBXOT3uAZV2I2sfZ1wVcjN95p3YU6mUuIheAQ8lIwP5wrnQAfBXfnpjXJrARzs0OgL8Lu5GB78Mx3AHweGG/zcBn4ZjsAJhrXgLrTUs9Uxz/xB5O+Ki6HXXTrYP9MAKb6ok2gS+iZlVttAKPqH8iYUMd3wGUrtpysatrVVcv6Xl1q0i8r06pZ9XRuMNzFe/Qa3WkCph0SH3axvOV7u919UOsf2Ro3bbS4cyrnwvIL3VJvRHvZso7qX6L+E/1dN2LnWU/0Af0Ah+BLxU5aX6XgYPA9m7AdmUUWAC6/wH2KwrMbQTPYAAAAABJRU5ErkJggg=="/>
                        </svg>
