.footer
  display flex
  flex-direction column
  padding 35px 42px 15px
  &-wrapper
    max-width 1024px
    width 100%
    background-color rgb(27,26,25)
  &__row
      display flex
      flex-direction row
      justify-content space-between
  &__column
    display flex
    flex-direction column
    align-items center
    .menu li:not(:first-child)
      margin-top 20px
    .menu_link:hover
      color rgb(255,126,113)
  &, .menu_link, .contacts_link
    color rgb(246,229,220)
.addres_row
  display flex
  flex-direction row
  &:not(:first-child)
    margin-top 20px
  .contacts_link
    margin-left 5px
    &:hover
      color rgb(255,126,113)
.addres_column
  display flex
  flex-direction column
  .contacts_link:not(:first-child)
    margin-top 20px
.social-icons
  display flex
  flex-direction row
  padding-top 35px
  padding-bottom 25px
  &__item:not(:first-child)
    margin-left 15px